.thread-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Reduced margin */
    padding: 5px; /* Reduced padding */
    width: 50%;
}

.conversation-header {
    background-color: #f0f0f0;
    padding: 3px; /* Reduced padding */
    margin-bottom: 5px; /* Reduced margin */
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 3px; /* Reduced padding */
    margin-bottom: 3px; /* Reduced margin */
}

.message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.message.received {
    align-self: flex-start;
    background-color: #FC6736FF;
}

.timestamp {
    font-size: 10px; /* Reduced font size */
    color: #777;
}
