footer {
    margin-top: auto;
    padding: 5px;
    text-align: center;
    background-color: #242038;
    color: white;
    width: 100%; /* Ensure it spans the entire width */
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.footer_contents {
    text-align: center;
    color: #CAC4CE;
}