body {
    font-family: Arial, sans-serif; /* Use Arial font */
    background-image: url(../assets/background.jpg); /* Set background image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
/* Flexbox layout for the container */
.container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between sections */
    align-items: flex-start; /* Align items at the start of the cross-axis */
    margin-top: 10px; /* Adjust the top margin */
}

/* Individual section styles */
.first-section {
    flex-basis: 15%; /* Fixed percentage width for first section */
    max-width: 15%; /* Prevent the section from growing too much */
}

.second-section {
    flex-grow: 1; /* Allow this section to grow to fill available space */
    flex-basis: 70%; /* Set base width to 70% */
    max-width: 70%; /* Ensure it doesn't grow beyond 70% */
}

.third-section {
    flex-basis: 15%; /* Fixed percentage width for third section */
    max-width: 15%; /* Prevent the section from growing too much */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }

    .first-section,
    .second-section,
    .third-section {
        flex-basis: auto; /* Allow sections to take natural widths */
        max-width: 100%; /* Sections can grow to full width */
        width: 100%; /* Set sections to full width on smaller screens */
    }
}
