::-webkit-scrollbar {
    width: 0;
    height: 0;
}
body {
    font-family: Arial, sans-serif; /* Use Arial font */
    background: rgb(61,61,61);
    background: -moz-radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(194,66,66,1) 50%, rgba(0,12,110,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(194,66,66,1) 50%, rgba(0,12,110,1) 100%);
    background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(194,66,66,1) 50%, rgba(0,12,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d",endColorstr="#000c6e",GradientType=1);    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;

}
.thread{
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(170, 184, 194, 0.5); /* Transparent background */
    backdrop-filter: blur(10px); /* Apply a blur effect */    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.message-thread.hidden {
    display: none;
}
.message-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.profile-picture {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.toggle-thread-button {
    background-color: #0c2d57;
    color: #b6bbc4;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Style for the textarea */
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.third-section {
    flex-basis: 15%;
    /* Fixed percentage width for third section */
    max-width: 15%;
    /* Prevent the section from growing too much */
}