
.show-button {
    background-color: #fc6736;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

.text-area-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.reply-textarea {
    width: calc(100% - 22px);
    resize: vertical;
    padding: 8px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.reply-button,
.hide-button {
    background-color: #31304d;
    color: #fff;
    cursor: pointer;
    border: none;
}