.toggle-button-report {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}
.toggle-button-report:hover {
    background-color: #c82333;
}
.toggle-button:hover {
    background-color: #0056b3;
}

.report-form {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #b6bbc4;
}

.report-form label {
    margin-bottom: 10px;
}

.report-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.report-form button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.report-form button:hover {
    background-color: #c82333;
}

.report-message {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
