/* Style the button */
.delete-button {
    background-color: #000000; /* Red background */
    color: #ffffff; /* White text color */
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d80000; /* Darker red on hover */
}