.like-button-container {
}

.like-button {
    background-color: #0066ff;
    color: #000000;
    cursor: pointer;
    border: none;
}
.like-button:hover {
    background-color: #00b30f;
}

.option {
    display: flex;
    justify-content: space-between;
}