.comment {
    background-color: #f0ece5;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 5px;
}

.comment > div {
    margin-top: 5px;
    margin-left: 20px;
}

.comment-author {
    font-weight: bold;
}

/* Style for toggle button */
.toggle-button-container {
}

.toggle-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #0056b3;
}